.experience__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var(--color-bg-variant);
    border-radius: 2rem;
    gap: 1.2rem;
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* .experience__container:hover{
    background: transparent;
    border: 1px solid var(--color-bg-variant);
} */

.org__details
{
    display: grid;
    grid-template-columns: 90% 10%;
}

.experience__item h4,h5{
    color: var(--color-light);
}

.roles{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.roles li{
    display: flex;
    text-wrap: nowrap;
    gap: 1rem;
    background: var(--color-primary-variant);
    border: 1px solid transparent;
    /* border-radius: 2rem; */
    padding: 0.5rem;
    /* text-align: center; */
    transition: 0.3 ease;
}

.roles li:hover{
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    /* transform: scaleX(1) scaleY(1.2); */
}

.arrow-icon{
    margin-top: 2px;
}


@media screen and (max-width: 1024px)
{
    .roles li{
        display: flex;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 600px)
{
    .achievements__container{
        width: 50%;
    }
    .container{
        margin-top: 20rem;
    }

}